.root {
  width: 100%;
  padding: 12px 16px;
  gap: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: 576px) {
    padding: 18px 24px;
    gap: 24px;
  }

  & + & {
    border-top: 1px solid #cdcdcd;
  }
}
.picture {
  order: 1;
  flex: 0 1;

  .isCompact & {
    align-self: flex-start;
  }
}
.pictureImg {
  width: 2rem;
  height: 2rem;
}
.title {
  order: 2;
  flex: 0 1;
  white-space: nowrap;
  min-width: 20%;
  max-width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.title,
.descriptionTitle {
  margin: 0;
  line-height: 1.3em;
  font-size: 1.25rem;
  font-weight: 600;
}
.edit {
  order: 3;
  flex: 0 1;
}
.timestamp {
  order: 4;
  flex: 1;
  text-align: center;
}
.timestamp,
.descriptionTimestamp {
  font-size: 0.875rem;
  color: #7f7f7f;
}
.delete {
  order: 5;
  flex: 0 1;
}
.description {
  order: 1;
  flex: 1;
}
.actions {
  order: 1;
}

.icon {
  button > & path {
    fill: #ababab;
  }

  button:hover > & path {
    fill: #656565;
  }
}
