.root {
  width: 100%;
  padding: 18px 16px;
  gap: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: 576px) {
    padding-left: 24px;
    padding-right: 24px;
    gap: 24px;
  }

  & + & {
    border-top: 1px solid #cdcdcd;
  }
}
.picture {
  flex: 0 1;
}
.pictureImg {
  width: 2rem;
  height: 2rem;
}
.identity {
  flex: 0 1;
  min-width: 40%;
  display: flex;
  align-items: center;
}
.identityTitle,
.descriptionTitle {
  max-width: 100%;
  flex: 1;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.3em;
  font-size: 1.25rem;
  font-weight: 600;
}
.identityEdit {
  padding: 0 12px;
}
.timestamp {
  flex: 1;
  text-align: center;
}
.timestamp,
.descriptionTimestamp {
  font-size: 0.875rem;
  color: #7f7f7f;
}
.deleteAction {
  flex: 0 1;
}
.description {
  flex: 1;
  min-width: 50%;
  min-height: 3em;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}
.actions {
  flex: 0 1;
  display: flex;
}

.icon {
  button > & path {
    fill: #ababab;
  }

  button:hover > & path {
    fill: #656565;
  }
}

.confirmIcon {
  width: 22px;
  height: 22px;
  margin-right: 1rem;
  align-self: flex-start;
}
.confirmation {
  font-weight: 400;
  font-size: 14px;
}
.confirmationTitle {
  font-weight: 400;
}
.confirmationText {
  margin-top: 1em;
  color: #818181;
}
