.root {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1ch;
}

.formItem {
  // Overriding Ant's defaults
  flex: 1 !important;
}

.submitButton {
  &:enabled {
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}
