.root {
  width: 100%;
}

.formItem {
  width: 100%;

  // override Ant's defaults
  & :global(.ant-form-item-control-input-content) {
    display: flex;
    align-items: center;
    gap: 1ch;
  }
}

.submitButton {
  &:enabled {
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}
